@import url(./reset.css);
@import url(./common.css);

/* ============ 헤더 ============== */

.header{
    width: 1350px;
    display: flex;
    margin: 0 auto;
   justify-content: space-between;
    /* justify-content: center; 를 썼는데 박스가 가운데로 가지 않았다. 이유는 justify-content는 박스 안 요소(자식)을 가운데로 보내기 때문, 박스 자체를 보내고싶다면 margin:0auto; 사용*/
    padding: 20px;
    text-align: center;
}

.header .logo{}
.header .logo>p{}
.header .logo>p>img{}

.header .menu{
    display: flex;
    gap: 40px;
}
.header .menu > a{}


.header .auth{
    display: flex;
    gap: 20px;
}
.header .auth> a{}

.mainpage{}
.mainpage>p{}
.mainpage>p>img{
    width: 100%;
}

/* =========================== 헤더 ============================== */

.booking-bar{
    max-width: 1320px;
    width: 100%;
    padding: 80px;
    display: flex;
    margin:0 auto;
    justify-content: space-between;
    background-color: rgba(128, 128, 128,0.5);
}


.booking-bar .date{
    display: flex;
    gap: 160px;
}
.booking-bar .date .check-in{
}
.booking-bar .date .check-in>p{}
.booking-bar .date .check-in>b{}

.booking-bar .date .check-out{}
.booking-bar .date .check-out>p{}
.booking-bar .date .check-out>b{}



.booking-bar .quantity{
    display: flex;
    gap: 160px;
}
.booking-bar .quantity .room{}
.booking-bar .quantity .room>p{}
.booking-bar .quantity .room>span{}
.booking-bar .quantity .room>p>span>a{}


