/* reset.css (태그 초기화)*/

body{margin:0;}
*{box-sizing: border-box;}
img{vertical-align: middle;}
a{color:black; text-decoration: none;}
ul,li{ margin:0; padding:0; list-style-type: none;}
h1,h2,h3,p,figure{margin:0;} /*figure 태그가 마진을 가지고있어서 추가해주었음*/
table{border-collapse:collapse;} /*테이블 테두리를 이중선 없이 깔끔하게 만들기 위한 필수 옵션*/